doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="/js/main.js")
    script(src="/js/nav.js") 
  body
    header 홈페이지 이름
  nav.main
    ul
      li 123
      li 123
      li 123
      li 123
      li 로그인
  block content
