extends layout

block content
    link(rel="stylesheet", href="/css/login.css")
    form(method="POST").login
        article.login
            div.login.box
                div.login.input
                    label ID
                    input(name="user_id",placeholder="아이디를 입력하세요",)
                div
                    label PW
                    input(type="password" name="user_pass", placeholder="비밀번호를 입력하세요",)
            div.login.button
                button(type="button").login 로그인
            div.findPwd
                span 비밀번호 찾기
            div.findPwd
                span 회원가입