doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src="/js/main.js")
  body
    header 
      h1 BBS 2022
      h3 BBS 2022 with nodejs 에 오신것을 환영합니다 
    block content
  script.
    const main = document.querySelector("header")
    main.addEventListener("cliclk", ()=>{
      document.location.href = "/"
    })