extends layout

block content
  table.detail1
    thead
      tr 
        th.detail1 ID
        th.detail1(colspan="2") 123
    tbody 
      tr
        td.detail1 이름
        td.detail1(colspan="2") 123
    table.detail2
      thead       
        tr
          th.detail2 전화번호
          th.detail2(colspan="3") 123
      tbody
        tr
          td.detail2 담당자명
          td.detail2(colspan="3") 123
    table.detail3
      thead 
        tr
          th.detail3(colspan="2") 주소
          th.detail3(colspan="3") 123
