//- layout.pug 를 확장하여 함께 rendering 하겠다
extends layout

//- layout.pug 의 block content 항목에 아래의 코드를 붙여서 rendering
block content
  form(method="POST").data
    div.inputbox 
      label(for="b_id") 거래처ID
      input(name="b_id", title="거래처ID", type="text" placeholder="거래처ID 를 입력하세요")
    div.inputbox 
      label(for="b_comname") 거래처명
      input(name="b_comname", title="거래처이름", type="text" placeholder="거래처이름을 입력하세요")
    div.inputbox 
      label(for="b_comtel") 전화번호
      input(name="b_comtel", title="연락처", type="text" placeholder="연락처를 입력하세요")
    div.inputbox 
      label(for="b_name") 담당자명
      input(name="b_name", title="담당자명", type="text" placeholder="담당자명을 입력하세요")
    div.inputbox 
      label(for="b_tel") 담당자연락처
      input(name="b_tel", title="주소", type="text" placeholder="담당자연락처를 입력하세요")
    div.inputbox 
      label(for="b_addr") 주소
      input(name="b_addr", title="주소", type="text" placeholder="주소를 입력하세요")
  div.btnbox
    button.save 저장
    button.remove 새로작성
    button.list 리스트로