doctype html
html
  head
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/nav.css')
    link(rel='stylesheet', href='/css/table.css')
    link(rel='stylesheet', href='/css/input.css')
    script(src="/js/main.js") 
    script(src="/js/input.js")
    script(src="/js/nav.js") 
  body
    header
      h1 나라상사 ERP 시스템 2022
    nav.main
      ul
        li Home
        li 주문관리
        li 거래처관리
        li 상품관리
        li 로그인
    block content
