extends layout

block content
  body 
    header
      nav 
        ul
          li 1
          li 2
          li 3
          li 회원가입
          li 로그인
      div.introduce 어플소개
      div.download 안드로이드
      div.download 아  이  폰