div.bbs.main {
  width: 80%;
  height: 100%;
  background-color: white;
  margin: auto;
  padding-top: 15px;
}
article.bbs.detail {
  width: 80%;
  margin: auto;
}
div.title {
  padding: 12px;
}

div.comments.box {
  font-size: 21px;
  font-weight: 600;
  text-decoration: underline;
}
span.comment {
  font-size: 14px;
}

div.comment_box {
  text-align: right;
}
div.comment_box input {
  width: 0%;
  margin: 5px;
  padding: 12px 16px;
  border: none;
  outline: none;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  transition: 0.5s;
}
div.comment_box button {
  padding: 12px 16px;
  border: 1px solid rgb(0, 102, 255);
  outline: none;
  border-radius: 10px;
  color: rgb(0, 102, 255);
  background-color: rgba(238, 238, 238, 0.3);
  font-weight: 600;
}
input.comment:hover {
  background-color: #ddd;
}
input.comment:focus {
  background-color: #ddd;
  width: 23%;
}
div.comments.item {
  padding: 1.2em;
}
div.comments.item p {
  margin: 6px;
  font-size: 15px;
}

div.bbs.detail.button.box {
  text-align: right;
  margin-top: 15px;
}
div.bbs.detail.button.box button {
  padding: 12px 16px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
}
button.bbs.update {
  background-color: rgb(0, 102, 255);
  color: white;
}
button.bbs.delete {
  background-color: rgba(255, 0, 0, 0.842);
  color: white;
}
button.bbs.list {
  background-color: rgb(30, 216, 30);
  color: white;
}
button.bbs.update:hover,
button.bbs.delete:hover,
button.bbs.list:hover {
  cursor: pointer;
}

p.comment.list.box {
  display: flex;
}

span.comment {
  flex: 2;
  padding: 5px;
  line-height: 20px;
}
span.comment.writer {
  flex: 1 !important;
  text-align: center;
}
span.comment.content {
  text-align: left;
  font-weight: 700;
}
span.comment.delete {
  flex: 1 !important;
  color: #777;
  text-align: center;
  cursor: pointer;
  font-size: 2em;
  opacity: 0;
  transition: opacity 0.7s;
}

/*
comment list 가 있는 p box 에 hover 가 되면
span tag가 
*/
p.comment.list.box:hover span.comment.delete {
  opacity: 1;
}
